<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GraduationDesign.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>39DF7A531CAC1F6500FC0A3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39DF7A6C1CAC1F6500FC0A3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39DF7A771CAC1F6500FC0A3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
